<main>
    <h3 class="title">Todo</h3>
    <div class="line">
        <div></div>
    </div>
    <div class="buttons">
        <button class="selected">Today</button>
        <button>Tomorow</button>
        <button>Calendar</button>
    </div>
    <div class="search">
         <label for="search">
            <lucide-angular  class="icon" name="search" size="14"></lucide-angular>
        </label>
         <input id="search" type="text" placeholder="Search">
    </div>
    <div class="add">
        <a routerLink="../add-todo">Add</a>
    </div>
    <div class="daily-info">
        <h5 class="day">Today</h5>
        <div class="date-and-time">
            <p>Monday, April 12 2023</p>
            <p>12:00 AM</p>
        </div>
        <div class="todo-details">
            <div><span>Left:</span> <span>12 Todo</span></div>
            <div><span>Left:</span> <span>12 Todo</span></div>
        </div>
    </div>
    <div class="todo-list">
        <div class="single-todo">
            <div class="todo-icon"></div>
            <h5 class="todo-title">Go to the market to buy a new car</h5>
            <p class="todo-schedule"><span>Monday, April 12 2023</span><span>12:00 PM</span></p>
            <div class="todo-progress">
                <div class="progress-bar">
                    <div></div>
                </div>
                <p class="left-time"><span>1 hour</span></p>
            </div>
        </div>
        <div class="single-todo">
            <div class="todo-icon"></div>
            <h5 class="todo-title">Go to the market to buy a new car</h5>
            <p class="todo-schedule"><span>Monday, April 12 2023</span><span>12:00 PM</span></p>
            <div class="todo-progress">
                <div class="progress-bar">
                    <div></div>
                </div>
                <p class="left-time"><span>1 hour</span></p>
            </div>
        </div>
        <div class="single-todo">
            <div class="todo-icon"></div>
            <h5 class="todo-title">Go to the market to buy a new car</h5>
            <p class="todo-schedule"><span>Monday, April 12 2023</span><span>12:00 PM</span></p>
            <div class="todo-progress">
                <div class="progress-bar">
                    <div></div>
                </div>
                <p class="left-time"><span>1 hour</span></p>
            </div>
        </div>
        <div class="single-todo">
            <div class="todo-icon"></div>
            <h5 class="todo-title">Go to the market to buy a new car</h5>
            <p class="todo-schedule"><span>Monday, April 12 2023</span><span>12:00 PM</span></p>
            <div class="todo-progress">
                <div class="progress-bar">
                    <div></div>
                </div>
                <p class="left-time"><span>1 hour</span></p>
            </div>
        </div>
        <div class="single-todo">
            <div class="todo-icon"></div>
            <h5 class="todo-title">Go to the market to buy a new car</h5>
            <p class="todo-schedule"><span>Monday, April 12 2023</span><span>12:00 PM</span></p>
            <div class="todo-progress">
                <div class="progress-bar">
                    <div></div>
                </div>
                <p class="left-time"><span>1 hour</span></p>
            </div>
        </div>
        <div class="single-todo">
            <div class="todo-icon"></div>
            <h5 class="todo-title">Go to the market to buy a new car</h5>
            <p class="todo-schedule"><span>Monday, April 12 2023</span><span>12:00 PM</span></p>
            <div class="todo-progress">
                <div class="progress-bar">
                    <div></div>
                </div>
                <p class="left-time"><span>1 hour</span></p>
            </div>
            
        </div>
        <div class="single-todo">
            <div class="todo-icon"></div>
            <h5 class="todo-title">Go to the market to buy a new car</h5>
            <p class="todo-schedule"><span>Monday, April 12 2023</span><span>12:00 PM</span></p>
            <div class="todo-progress">
                <div class="progress-bar">
                    <div></div>
                </div>
                <p class="left-time"><span>1 hour</span></p>
            </div>
        </div>
        <div class="single-todo">
            <div class="todo-icon"></div>
            <h5 class="todo-title">Go to the market to buy a new car</h5>
            <p class="todo-schedule"><span>Monday, April 12 2023</span><span>12:00 PM</span></p>
            <div class="todo-progress">
                <div class="progress-bar">
                    <div></div>
                </div>
                <p class="left-time"><span>1 hour</span></p>
            </div>
        </div>
        <div class="single-todo">
            <div class="todo-icon"></div>
            <h5 class="todo-title">Go to the market to buy a new car</h5>
            <p class="todo-schedule"><span>Monday, April 12 2023</span><span>12:00 PM</span></p>
            <div class="todo-progress">
                <div class="progress-bar">
                    <div></div>
                </div>
                <p class="left-time"><span>1 hour</span></p>
            </div>
        </div>
        <div class="single-todo">
            <div class="todo-icon"></div>
            <h5 class="todo-title">Go to the market to buy a new car</h5>
            <p class="todo-schedule"><span>Monday, April 12 2023</span><span>12:00 PM</span></p>
            <div class="todo-progress">
                <div class="progress-bar">
                    <div></div>
                </div>
                <p class="left-time"><span>1 hour</span></p>
            </div>
        </div>
    </div>
    <div class="nothing">
    </div>
</main>
