.message-status-container {
    padding: 0 12px;
    min-height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }

  /**********/

  .message-status-container .message-status {
    width: 456px;
    height: 220px;
    max-height: 200px;
    box-sizing: border-box;
    padding: 20px 24px;
    margin-top: 5%;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.message-status-container .exit-container {
    display: flex;
    justify-content: flex-end;
}

.message-status-container .x {
    color: var(--violet-light);
}

.message-status-container .x:hover {
    cursor: pointer;
    color: var(--violet);
}

.message-status .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    align-items: center;
}

.message-status .message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.message-status .message p:first-child {
    color: var(--violet);
    font-weight: 600;
}


.message-status .message p:nth-child(2) {
    color: var(--slate-dark);
    font-weight: 500;
    font-size: 14px;
}

.message-status .buttons  button {
    padding: 11px 20px;
    border: none;
    border-radius: 4px;
    background-color: white;
}

.message-status .buttons  button:hover {
    cursor: pointer;
}

.message-status .buttons  .confirm {
    background-color: var(--violet);
    border: 1px solid var(--violet);
    color: white;
}

.message-status .buttons  .confirm:hover {
    background-color: var(--violet-dark);
    border: 1px solid var(--violet-dark);
}

.message-status .buttons  .confirm:focus {
    outline: 1px solid var(--violet);
    border: 1px solid var(--violet);
}