<header class="nav-container">
    <nav class="nav-bar">
        <a routerLink="./dashbord" (click)="changeCurrentTo(1)" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" ariaCurrentWhenActive="page"  class="site-name">
            <div>
                <img src="assets/img/daily-icon.svg">
            </div>
            <div>
                <h1>Daily Todo</h1>
            </div>
        </a>
        <div class="others">
            <nav class="inner-nav">
                <ul>
                    <li><a routerLink="./dashbord" [class.selected]="current == 1" (click)="changeCurrentTo(1)">Home</a></li>
                    <li><a [routerLink]="['./todo-list', {day: 'ALL'}]" [class.selected]="current == 2" (click)="changeCurrentTo(2)">Todo</a></li>
                </ul>
            </nav>
            <div class="separator"></div>
            <div class="action-icons">
                <lucide-angular name="moon" class="moon"></lucide-angular>
                <div class="user-icon">
                    <img src="assets/img/profile_photo.jpg">
                </div>
            </div>
        </div>
    </nav>
</header>
<router-outlet (activate)="onActivate($event)"></router-outlet>
