.nav-container {
    border-bottom: 1px solid var(--violet-light);
}

.nav-bar {
    width: 100%;
    height: 64px;
    max-width: 1280px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1360px) {
    .nav-bar {
       box-sizing: border-box;
       padding: 12px;
    }
}

.site-name {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--violet);
}

.site-name div img {
    display: flex;
    width: 30px;
    height: 30px;
}

.nav-bar h1 {
    font-size: 16px;
    font-weight: 600;
}

.nav-bar .others {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-items: center;
}

.nav-bar .others > a {
    color: white;
    font-size: 12px;
    padding: 7px 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--violet);
    background-color: var(--violet);
    border-radius: 4px;
}

.moon {
    width: 20px;
    height: 20px;
    color: var(--violet);
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 100%;
}

.moon:hover {
    cursor: pointer;
    background-color: rgb(248, 246, 249);
}

.inner-nav ul {
    list-style: none;
    display: flex;
    gap: 24px;
    font-size: 14px;
    color: var(--violet);
}

.inner-nav ul a {
    padding: 3px 0;
    color: var(--violet);
}

.inner-nav ul li .selected {
    border-bottom: 2px solid var(--violet);
    font-weight: 600;
}

.separator {
    height: 36px;
    width: 1px;
    background-color: var(--violet);
}

/* .user-icon {
    position: relative;
    
} */

.action-icons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.user-icon {
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0;
}

.user-icon input {
    all: unset;
}


.user-icon label {
    border: 1px solid var(--violet-light);
    border-radius: 100%;
    display: flex;
}


.user-icon label:hover {
    cursor: pointer;
    border: 1px solid var(--violet);
}

.user-icon:has(input:focus) label {
    outline: 1px solid var(--violet);
}

.user-icon img {
    width: 28px;
    height: 28px;
    border-radius: 100%;
    background-color: aqua;
}


.login-informations {
    position: absolute;
    right: -16px;
    top: 32px;
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
    font-size: 12px;
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}


.user-icon:has(input:checked) .login-informations   {
    display: flex;
}

.login-informations {
    display: none;
}

.login-informations h4 {
    font-weight: 600;
    color: var(--violet);
}

.login-informations p {
    color: var(--slate-dark);
}

.login-informations .user-data {
    padding: 12px 12px 6px 12px;
    border-bottom: 1px solid var(--neutral-light);
}

.login-informations .login-options span {
    padding: 6px 12px 6px 12px;
    display: flex;
    flex-direction: column;
    color: var(--slate-dark);
    cursor: pointer;
}

.login-informations .login-options span:hover {
    background-color: var(--neutral-light);
}