<main class="signup">
    <div class="hero">
        <p>Continue with us...</p>
        <img src="assets/img/recovery-p.png">
    </div>
    <div class="form-container">
        <h2>Recovery your password</h2>
        <form class="form" method="post" action="/" (submit)="onSubmit($event)">
            <app-form-text-input inputName="Email" inputType="text" labelName="Email" placehoder="please insert your email"></app-form-text-input>
            <button class="button-signin">Continue</button>
        </form>
        <p>Back to <a routerLink="/ap/signin">Signin</a></p>
    </div>
</main>

