main {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.todo-details {
    background-color: white;
    width: 486px;
    border-radius: 8px;
    padding: 16px 36px;
    display: flex;
    flex-direction: column;
}

main .x {
    color: var(--violet-light);
}

main .x:hover {
    cursor: pointer;
    color: var(--violet);
}

.todo-details .x {
    color: var(--violet-light);
}

.todo-details >  h2 {
    margin-bottom: 24px;
    font-size: 16px;
    color: var(--violet);
}

.exit-container {
    display: flex;
    justify-content: flex-end;
}

.todo-details .columns {
    display: flex;
    box-sizing: border-box;
    padding-right: 20px;
    gap: 32px;
}

.columns .details {
    flex:  1;
    padding-bottom: 36px;
}

.details .main-data {
    width: 100%;
    box-sizing: border-box;
    padding: 24px 16px;
    background-color: var(--violet);
    color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
}

.details .main-data .profile-photo {
    position: relative;
}

.details .main-data .profile-photo .pencil   {
    position: absolute;
    bottom: 10px;
    right: 4px;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: var(--violet);
    border-radius: 100%;
}

.details .main-data .profile-photo input {
    display: none;
}

.details .main-data img {
    height: 82px;
    width: 82px;
    border-radius: 100%;
}

.details .main-data .profile-name {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 6px;
}

.details .main-data .profile-name div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.details .main-data .profile-name .pencil   {
    right: 16px;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: var(--violet);
    border-radius: 100%;
}

.details .main-data h3 {
    font-size: 14px;
}

.title-container .status {
    background-color: white;
    border-radius: 1px solid var(--red-light);
    color: var(--red-light);
    padding: 2px 10px;
    border-radius: 18px;
    justify-self: flex-end;
    font-size: 12px;
    align-self: flex-end;
}


.other-details {
    padding: 24px 16px;
    border-left: 1px solid var(--violet-light);
    border-right: 1px solid var(--violet-light);
    border-bottom: 1px solid var(--violet-light);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.other-details  div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.other-details .label {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: var(--violet);
    font-weight: 600;
    gap: 10px;
}

.other-details p {
    font-size: 12px;
}

.label span {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.label span .pencil   {
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: var(--violet);
    border-radius: 100%;
    border: 1px solid var(--violet-light);
}

.pencil {
    cursor: pointer;
}

.label .subline {
    display: flex;
    align-items: center;
}

.subline .circle {
    padding: 8px;
    background-color: var(--violet);
    border-radius: 100%;
}

.subline .line {
    height: 1px;
    width: 100%;
    background-color: var(--violet);
}


main .columns .buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


main .columns .buttons button {
    border: 1px solid var(--red-light);
    padding: 12px 16px;
    border-radius: 4px;
    color: var(--red-light);
    background-color: white;
    font-size: 11px;
    text-align: center;
}

main .columns .buttons button:hover {
    border: 1px solid var(--red);
    color: var(--red);
}

main .columns .buttons button:focus {
    outline: 1px solid var(--red);
    color: var(--red);
}

main .columns .buttons button:hover {
    cursor: pointer;
}

.change-password {
    font-size: 12px;
    color: var(--violet);
    cursor: pointer;
}