<div class="message-status-container">
    <div class="message-status">
        <div class="exit-container"><lucide-icon name="X" class="x" size="22" (click)="backPage()"></lucide-icon></div>
        <h3>New Password</h3>
        <div class="message">
            <app-form-text-input inputName="old-password" labelName="Old Password" inputType="password"></app-form-text-input>
            <app-form-text-input inputName="password" labelName="New Password" inputType="password"></app-form-text-input>
            <app-form-text-input inputName="confirm-password" labelName="Confirm Password" inputType="password"></app-form-text-input>
        </div>
        <div class="buttons">
            <button class="cancel" (click)="backPage()">Cancel</button>
            <button class="confirm" (click)="saveAndBack()">Save</button>
        </div>
    </div>
</div>