<main>
    <div class="confirm-delete">
        <div class="exit-container"><lucide-icon name="X" class="x" (click)="backPage()" size="22"></lucide-icon></div>
        <div class="question">
            <p>Are you sure you want to delete the Todo?</p>
            <p>If you delete you will lost it.</p>
        </div>
        <div class="buttons">
            <button class="cancel" (click)="backPage()">Cancel</button>
            <button class="confirm">Delete</button>
        </div>
    </div>
</main>