
.hero {
    height: 512px;
    width: 100%;
    background-color: var(--violet-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* @media(max-height: 1366px) {
    .hero {
        height: 430px;
    }
} */

.hero h2 {
    color: white;
    font-size: x-large;
}

.hero a {
    padding: 10px 20px;
    background-color: white;
    color: var(--violet-dark);
    border-radius: 4px;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero a:hover {
    background-color: rgb(208, 215, 247);
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 48px 0;
    color: var(--violet);
    gap: 36px;
}

.presentation h2 {
    font-size: large;
}

.presentation .services {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 350px;
}

.service .service-image img {
    width: 256px;
    height: 256px;
    border-radius: 100%;
}

.service h3 {
    font-size: 15px;
}

.service p {
    font-size: 14px;
}

.service .service-description {
    text-align: center;
    color: var(--slate);
    opacity: 0.9;
}

.ornament {
    max-width: 1200px;
    height: 96px;
    display: flex;
    justify-content: center;
    margin: 96px auto;
}

.ornament img {
    max-width: 1200px;
    height: 96px;
}

.happy-person {
    max-width: 1200px;
    height: 384px;
    margin: 32px auto;
    display: flex;
    justify-content: space-between;
}

@media(max-width: 1366px) {
    .happy-person {
        box-sizing: border-box;
        padding: 0 32px;
    }
}

.motivation {
    width: 512px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.motivation h3 {
    font-size: x-large;
    color: var(--slate-light);
    align-self: center;
    text-align: right;
}

.motivation p {
   color:  var(--slate-light);
   text-align: right;
   font-size: small;
}

.motivation a {
    padding: 7px 16px;
    width: fit-content;
    border: 1px solid var(--violet);
    border-radius: 4px;
    align-self: flex-end;
    font-size: 14px;
}

.motivation a:hover {
    background-color: var(--neutral-light);
}

.footer {
    height: 48px;
    background-color: var(--neutral-light);
    margin-top: 36px;
    font-size: small;
}

.footer .options {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.footer .options a:first-child {
    color: var(--violet);
    font-weight: 600;
}