/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Khula', sans-serif;
}

:root {
    --violet: #6F4EB5;
    --violet-dark: #4E2F8F;
    --violet-light: rgba(113, 102, 244, 0.66);
    --violet-super-light: rgba(165, 157, 251, 0.3);
    --slate: #3f3f3f;
    --slate-light: #555555;
    --slate-dark: #2f2f2f;
    --neutral-light: #DEDEDE;
    --violet-800: #331C66;
    --red: #ef5d5d;
    --red-light: #f37272;
    --red-dark: #ff5454;
}
