<main class="signup">
    <div class="hero">
        <p>Welcome Back</p>
        <img src="assets/img/recovery-p.png">
    </div>
    <div class="form-container">
        <h2>Recovery Password</h2>
        <form class="form" method="post" action="/" (submit)="onSubmit($event)">
            <app-form-text-input inputName="password" inputType="password" labelName="New Password" placehoder="******"></app-form-text-input>
            <app-form-text-input inputName="confirm-password" inputType="password" labelName="Confirm Password" placehoder="******"></app-form-text-input>
            <button class="button-signin">Save</button>
            <div class="signup-suggestion">
                <p>Do you already have account?</p>
                <a routerLink="/ap/signin">Login now</a>
            </div>
        </form>
    </div>
    <app-message-status *ngIf="showConfirmationMessage" mainMessage="Password changed sucessfull"
        description="Continue to begin using the aplication" (onCloseMessage)="closeConfirmationModal()"></app-message-status>
</main>

