.signup {
    height: calc(100vh - 76px);
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 42px;
    gap: 20px;
}

.hero {
    display: flex;
    flex-direction: column;
}

@media(max-width: 1000px) {
    .signup {
        flex-direction: column;
        align-items: center;
    }

    .hero {
        display: none;
    }
}

.signup .hero img {
    height: 450px;
}

.hero p {
    font-size: 20px;
    color: var(--violet);
    font-weight: 600;
}

.form-container {
    padding: 42px;
    width: 480px;
    border: 1px solid var(--violet-light);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 44px;
    box-sizing: border-box;
}


.form-container h2 {
    color: var(--violet);
    font-weight: 600;
    font-size: 20px;
    border-bottom: 1px solid var(--violet-light);
    padding-bottom: 8px;
}

.form-container .form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 16px;
}

.form .form-row {
    width: 100%;
    display: grid;
    grid-template-areas: "left right";
    gap: 32px;
}

.form-row:first-child {
    grid-area: "left";
}

.form-row:nth-child(2) {
    grid-area: "right";
}

.form .password {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form .password a {
    text-align: right;
    color: var(--violet-800);
}

.form .password a:hover {
    color: var(--violet);
}

.form .button-signin {
    margin-top: 16px;
    width: fit-content;
    padding: 10px 16px;
    border-radius: 4px;
    border: none;
    background-color: var(--violet);
    color: white;
    font-size: 12px;
}

.form .button-signin:hover {
    cursor: pointer;
}

.form .signup-suggestion {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form .signup-suggestion a {
    color: var(--violet);
    font-weight: 600;
}