<main class="main">
    <section class="hero">
        <h2>Turn your mind most opened every day</h2>
        <a href="/login">Get started</a>
    </section>
    <section class="presentation">
        <h2>What does this website allow you to?</h2>
        <div class="services">
            <div class="service">
                <div class="service-image">
                    <img src="assets/img/organization-2.jpg">
                </div>
                <h3 class="service-name">
                    Organization
                </h3>
                <p class="service-description">
                    Allow you to turn your life more organized, preparing the agenda of your day.
                </p>
            </div>
            <div class="service">
                <div class="service-image">
                    <img src="assets/img/consistency.jpg">
                </div>
                <h3 class="service-name">
                    Consistency
                </h3>
                <p class="service-description">
                    Allow you to maintein more consistency on your daily activites.
                </p>
            </div>
            <div class="service">
                <div class="service-image">
                    <img src="assets/img/decision.jpg">
                </div>
                <h3 class="service-name">
                    Freedom
                </h3>
                <p class="service-description">
                    Allow you  to be more free to make your decisions, like mark a date with your girlfriend.
                </p>
            </div>
        </div>
    </section>
    <section class="ornament">
        <img src="assets/img/suites.svg">
    </section>
    <section class="happy-person">
        <img src="assets/img/happy-person.svg">
        <div class="motivation">
            <h3>Be more happy organizing your daily tasks and activities using this platform</h3>
            <p>Do you want this?</p>
            <a href="/login">Try now</a>
        </div>
    </section>
    <footer class="footer">
        <div class="options">
            <a href="/">Home</a>
            <a>Polocies & Privacy</a>
            <span>@Copyright</span>
        </div>
    </footer>
</main>
